#!/usr/bin/env python3
"""
<this is an example how to use the package and what goes where>

Keep this file and adjust it as needed.
"""

# the following imports are provided for user convenience
# flake8: noqa: F401
from {{ package_namespace }}.{{ package_name }}.component import Component
from {{ package_namespace }}.{{ package_name }}.functions import function1
