---
# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
#
# You can use `pdm run copier update --defaults` to update the template
# files using the answers stored in this file.
# (see https://copier.readthedocs.io/en/stable/updating/ for details)

{{ _copier_answers|to_nice_yaml -}}
